*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:linear-gradient(to right,rgb(224, 16, 224),rgb(75, 75, 233),rgb(163, 163, 237));
    /* background:linear-gradient(to left,rgb(238, 174, 185),rgb(205, 80, 205)); */

    align-items: center;
    display:flex;
  justify-content: center;
  align-items: center;
    height:100vh;
}
 
#click{
    padding:20px 40px;
    background:linear-gradient(to right,black,grey);
    border:none;
    color:white;
}

.container{
    height:30%;
    width:30%;
    /* background:linear-gradient(to left,rgb(238, 174, 185),0.3,rgb(205, 80, 205,0.7)); */
    background-color: lavender;
    display:flex;
    align-items: center;
    justify-content: center                      ;
    line-height: 10px;
}
#heading{
    font-weight: 900;
    font-size: 2rem;
    color:yellow;
    position: absolute;
    top:27%;
}
p{
margin:20px;
}

#dobform{
    margin:40px; 
 }
#dob{
    padding:15px 50px;
    font-size: 1.5rem;
}

.button{
    padding:15px 30px;
    margin:20px;
    border: none;
    background-color: rgb(233, 233, 42);
    font-size: 1rem;
    font-weight: bold;
}

#result{
color:whitesmoke;
font-size:2rem;
font-weight: bold;
}

